.header-content {
    padding: 10px 170px;
}
.header-content__heading {
    font-size: 4.5rem;
    color: #0d2451;
    font-weight: 300;
}

.header-content__text {
    padding: 2rem 0;
    color: #575c6e;
    font-size: 1.75rem;
    width: 70%;
    z-index: 20;
}

.header-content__heading span {
    font-weight: bold;
}

@media only screen and (max-width: 1300px) {
    .header-content__heading {
        font-size: 3.5rem;
    }
    .header-content__text {
        font-size: 1.5rem;
    }
}
