.feature-label {
    letter-spacing: 1.5px !important;
    font-size: 1.15rem !important;
    text-transform: capitalize !important;
    font-family: 'Nunito Sans', sans-serif !important;
    display: inline-block !important;
}

.css-13w9y9e-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
}

.css-1nqan18-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #fff !important;
}
