.feature-label {
    letter-spacing: 1.5px !important;
    font-size: 1.15rem !important;
    text-transform: capitalize !important;
    font-family: 'Nunito Sans', sans-serif !important;
    display: inline-block !important;
}
