.footer {
    background-color: #31343c;
}

.big {
    display: flex;
    flex-direction: row;
}

.big {
    justify-content: space-evenly;
    color: white;
}

.big {
    padding: 50px 0;
}

.small h5 {
    font-size: 22px;
    font-weight: 700;
    line-height: 38.83px;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;

    font-size: 16px;
    font-weight: 500;
}

.icons i {
    color: #fff;
    margin-right: 30px;
}

.copy {
    text-align: center;
    color: white;
    padding: 1px;
}

.footer-links {
    display: block;
    color: rgb(197, 197, 197);
    margin: 0.25rem 0;
    padding: 0.5em 0;
}

@media (max-width: 992px) {
    .big {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .small {
        margin: 20px 0;
    }
    .icons i {
        margin: 0 15px;
    }
}
