/* TYPOGRAPHY */
.footer-heading {
    font-size: 2.25rem;
    color: var(--primary-color);
    font-weight: bold;
    padding: 0.5rem 0;
}

.footer__subheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--subheading-color);
    font-family: 'Nunito Sans', sans-serif;
    padding: 0.75rem 0;
}

.footer__text {
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    font-family: 'Inter', sans-serif;
}

.footer__content-quick-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
}


.footer__content-about-list-item span {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}



.footer-main {
    position: relative;
    margin-bottom: 3rem;
    padding: 5rem 3rem;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Nunito Sans', sans-serif;
}

.footer-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url('../../assets/footer-svg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1400px;
}

.footer__content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.footer__content-links-container {
    width: fit-content;
    margin: 0 auto;
}

.footer__content-about {
    flex: 1.25;
    width: 35%;
}

.footer__content-quick,
.footer__content-contact-container {
    flex: 1;
    text-align: center;
    align-items: center;
}

.footer__content-copyright{
    text-align: center;
}

.footer__content-contact > a:visited{
    color: white !important;
}
.footer__content-quick-link{
    text-align: left;
}

@media only screen and (max-width: 750px) {
    .footer__content-container {
        flex-direction: column;
        align-items: center;
    }
    .footer__content-about,
    .footer__content-quick,
    .footer__content-contact-container {
        width: 100%;
        text-align: left;
        margin-bottom: 1rem;
    }
    .footer__content-links-container {
    width: fit-content;
    margin: 0;
}
}

@media only screen and (max-width: 600px) {
    .footer-main::before{
        width: 90%;
    }
    .footer{
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0.5rem;
    }
    .footer__content-container{
        width: 90%;
        justify-content: center;
    }
}