.Main {
    background: #fefefe;
    box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #000;
    margin: 1.75rem auto;
    margin-bottom: 5rem;
    padding: 4rem 6rem;
    width: 80%;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

@media only screen and (max-width: 992px) {
    .Main {
        margin: 2rem;
    }
}
