:root {
    --primary-color: #0D2451;
    --subheading-color: #212121;
}

.landing {
  font-family: 'Nunito Sans', sans-serif;
  color: #000;
}

/* .color-1 {
    position: absolute;
    width: 240px;
    height: 240px;
    left: -136px;
    top: 499px;

    background: #b646fb;
    filter: blur(200px);
}

.color-2 {
    position: absolute;
    width: 240px;
    height: 240px;
    left: -92px;
    top: 259px;

    background: linear-gradient(0deg, #4f40f8, #4f40f8),
        linear-gradient(0deg, #4f40f8, #4f40f8), #4f40f8;
    filter: blur(200px);
} */
