.feature-label {
    color: #fff !important;
    letter-spacing: 1.5px !important;
    font-weight: 600 !important;
    font-size: 1.15rem !important;
    text-transform: capitalize !important;
}

.tabs-panel {
    overflow-x: scroll !important;
}