.Calculator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.calculator-info {
    /* border-right: 2px solid #9a9a9a; */
    /* padding-right: 1rem; */
    flex: 1;
    text-align: left;
}

.calculator-main {
    padding: 2rem 0;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.calculator-main-fail {
    padding: 2rem 0;
    padding-left: 2rem;
    flex: 1;
}

form {
    font-family: 'Nunito Sans', sans-serif;
}

.fat-marks-calculator {
    font-family: 'Nunito Sans', sans-serif !important;
    /* border: 1px solid red; */
}

.subject-container {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    width: 100%;
    /* border: 1px solid black; */
}

.subject-select-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input,
option,
select {
    width: 150px;
    background: #efefef;
    border-radius: 7px;
    border: none;
    color: #9a9a9a;
    padding: 5px 10px;
    font-weight: 500;
    font-family: 'Nunito Sans', sans-serif;
}

select,
input {
    /* margin-top: 10px;
    margin-right: 30px; */
    margin: 0 1em;
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
}

.calc-btn {
    color: white;
    background: #2fcfb3;
    border-radius: 10px;
    border: none;
    width: 150px;
    height: 50px;
    font-size: 18px;
}

.answer {
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.subject-label,
h6 {
    font-weight: 700;
}

h4 {
    margin: 0 auto;
    text-align: center;
}

label {
    font-weight: 600;
}

.steps {
    line-height: 2;
    font-size: 1.25rem;
    font-weight: 300;
}

.steps span {
    font-size: 1.75rem;
    font-weight: bold;
}

.cat-marks-container {
    display: flex;
    gap: 1rem;
}

.internal-marks-label {
    margin-right: 1rem;
}

.lab-marks-inputs-container {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}

.meme-image {
    margin: 2rem auto;
}

.count-input {
    margin-left: 0;
    margin-top: 0.5rem;
}

.meme-image img {
    width: 100%;
}

.fat-inputs {
    margin: 0;
    margin-top: 10px;
}

.lab-inputs {
    margin: 0;
    margin-top: 10px;
}

.answer {
    font-family: 'Nunito Sans', sans-serif;
}

.calc-output {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
@media only screen and (max-width: 1280px) {
    .Calculator {
        flex-direction: column;
    }
    .calculator-main {
        padding: 0;
    }
}
@media only screen and (max-width: 992px) {
    .meme-image {
        width: 75%;
    }
    .cat-marks-container label,
    .lab-marks-inputs-container label,
    .internal-marks-label,
    .fat-inputs,
    .lab-inputs {
        font-size: 1.25rem;
    }
    .form-input input {
        width: 90%;
    }
    .cat-marks-container .form-input {
        flex: 1;
    }
    input::placeholder {
        text-align: center;
    }
}
@media only screen and (max-width: 900px) {
    .calculator-info {
        text-align: left;
        font-size: 1.5rem;
    }
    .calculator-info.fat-pass {
        text-align: center;
        font-size: 1.5rem;
    }
    .cat-marks-container input {
        width: 90%;
    }
    .calculator-main {
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .list-container input,
    .list-container select {
        width: 60%;
    }
    .steps span {
        font-size: 1.5rem;
    }
    .steps {
        font-size: 1rem;
    }
    .lab-marks-inputs-container {
        flex-direction: column;
        gap: 0;
        margin-bottom: 3rem;
    }
    .fat-marks-calculator {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width: 680px) {
    .calculator-main {
        align-items: stretch;
    }
    .subject-container {
        flex-direction: column;
        margin: 0.75rem 0;
    }
    .subject-label {
        margin: 0;
    }
    .subject-select-container {
        flex-direction: column;
        min-height: 3rem;
        justify-content: space-between;
        width: 60%;
    }
    input,
    select {
        margin: 0;
    }
    select {
        margin-bottom: 1rem;
    }
    .subject-select-container input,
    .subject-select-container select {
        width: 100%;
    }
    .calculator-main {
        padding: 0;
        height: fit-content;
        justify-content: center;
    }
    .cgpa-total-input {
        margin-bottom: 1rem;
    }
    .cat-marks-container label,
    .lab-marks-inputs-container label,
    .internal-marks-label,
    .fat-inputs,
    .lab-inputs {
        font-size: 1rem;
    }
    .list-container input {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .subject-select-container {
        width: 90%;
    }
    .cat-marks-container {
        flex-direction: column;
    }
    .cat-marks-container {
        gap: 0;
    }
    .list-container input,
    .list-container select {
        width: 100%;
    }
}
